@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap');

$bg-col: #f7f1e8;
$accent-col: #ff004d;
$sub-col: #333333;
$text-col: #05010c;

$heading-font: "Lato", sans-serif;
$text-font: "Karla", sans-serif;
$list-font: "Montserrat Alternates", sans-serif;

@mixin doFlex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    // overflow-y: auto;
}

html {
    background-color: $bg-col;
}

a>span:hover {
    text-decoration: underline;
}

span {
    color: $accent-col;
    font-weight: 400;
}

main {
    width: 100%;
    height: 100%;

    padding: 1rem;
}

section {
    width: 100vw;
    height: 100vh;

    @include doFlex(column, center, center);
}

.section-align {
    @include doFlex(column, flex-start, left);
}

.expand {
    margin-top: 1.25em;
}

.expand:hover {
    transition: all;
    transition-duration: 150ms;
    transform: scale(1.1, 1.1);
}

h1 {
    margin-bottom: 0.25em;

    font-family: $heading-font;
    font-size: 2.5em;
    font-weight: 700;

    color: $accent-col;
}

h2 {
    margin-bottom: 0.5em;

    font-family: $text-font;
    font-size: 1.25em;
    font-weight: 400;

    color: $text-col;
}

ul {
    padding-left: 0.5em;
}

li {
    padding-bottom: 0.65em;

    font-family: $list-font;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;

    list-style-type: ">";
    padding-inline-start: 0.5em;

    p {
        transition: all;
        transition-duration: 75ms;
    }

    p:hover {
        color: $accent-col;
    }
}

li::marker {
    color: $sub-col;
    font-size: 0.8rem;
}

button {
    width: 8rem;
    height: 2.5rem;

    margin-right: 1.25rem;

    font-family: $heading-font;
    font-size: 0.875rem;
    font-weight: 400;

    color: $bg-col;
    background-color: $accent-col;

    border-style: solid;
    border-color: $accent-col;
    border-width: 2px;

    transition: all;
    transition-duration: 150ms;

    cursor: pointer;
}

button:hover {
    box-shadow: -4px 4px 0px 0px black;
    transform: scale(1.1, 1.1);
}

.button-container {
    width: 100%;
    @include doFlex(row, center, center);
}

.inverse-button {
    color: $accent-col;
    background-color: transparent;
}

// @media (max-width: 80rem) {
//     main {
//         flex-direction: column;
//         gap: 2rem;
//     }

//     .personal-section {
//         min-width: auto;
//     }

//     .button-container {
//         margin-top: 1.25rem;

//         @include doFlex(row, center, center)
//     }
// }

// @media (max-width: 52rem) {
//     h1 {
//         margin-bottom: 0.75rem;
//         font-size: 1.5rem;
//     }

//     .skill-section {
//         flex-direction: column;
//     }
// }